
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @school.name %>
    <a class="btn btn-default" href="<%= profile_path %>" role="button">Go to Profile &raquo;</a>
  </h1>
  <p><h5><%= @school.description %> </h5></p>

<!--
  <div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-transparent">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          School Information &raquo;
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div id="shift-contents-right">
        <h5> Location:  <%= @school.address %> </h5>
        <h5>   Courses: <%= @school.courses.count %> </h5>
        <h5>  Classifiers at this School: </b> <%= User.where(school_id: @school.id).count %></h5>
        <center><%= image_tag"http://maps.googleapis.com/maps/api/staticmap?center=#{@school.latitude},#{@school.longitude}&zoom=15&scale=2&size=225x150&maptype=roadmap&key=AIzaSyDAKcqVkxybheZ6TliLppo3YI0_Z615yVs&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:#{@school.name}%7C#{@school.latitude},#{@school.longitude}"%> </center>

      </div>
    </div>
  </div>
-->


  <div>
      <h4 class="panel-title">
          School Information

      </h4>

    <div>
      <div id="shift-contents-right">
        <h5> Location:  <%= @school.address %> </h5>
        <h5>   Courses: <%= @school.courses.count %> </h5>
        <h5>  Classifiers at this School: </b> <%= User.where(school_id: @school.id).count %></h5>
        <%= image_tag"http://maps.googleapis.com/maps/api/staticmap?center=#{@school.latitude},#{@school.longitude}&zoom=15&scale=2&size=225x150&maptype=roadmap&key=AIzaSyDAKcqVkxybheZ6TliLppo3YI0_Z615yVs&format=jpg&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:#{@school.name}%7C#{@school.latitude},#{@school.longitude}"%>
      </div>
    </div>
</div>

  <h2> Rated Courses </h2>
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Course</th>
        <th># of Scores</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <% @school.courses.each do |course| %>
    <tr>

      <td><%= link_to course.name, course %> </td>
      <td> <%= course.scores.count %>

    </tr>
    <% end %>
  </table>
</div>
