<% if user_signed_in? %>
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h2>
      Courses at <i><%= link_to  current_user.school.name, current_user.school %></i>
    </h2>

    <% totalRating = 0 %>
    <% diff_rating = 0 %>
    <% work_rating = 0 %>
    <% like_rating = 0 %>

    <div class = "table">
      <table class = "table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <!--<th>School</th>-->
            <th>Average Difficulty rating</th>
            <th>Average Workload rating</th>
            <th>Average Likeability rating</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.name %></td>

              <!--<td><%= course.school.name if course.school %></td>-->
              <% course.scores.each do |score| %>
                <% diff_rating += score.difficulty_rating %>
                <% work_rating += score.workload_rating %>
                <% like_rating += score.likeability_rating %>
                <% totalRating = totalRating + 1 %>
              <% end %>
              <% if totalRating > 0 %>
                <td><%= diff_rating / totalRating %></td>
                <td><%= work_rating / totalRating %></td>
                <td><%= like_rating / totalRating %></td>
              <% else %>
                <td> N/A </td>
                <td> N/A </td>
                <td> N/A </td>
              <% end %>
              <!--<td><%= course.school.name if course.school%></td>-->
              <td><%= link_to 'See Scores', course %></td>
              <!--<td><%= link_to 'Edit', edit_course_path(course) %></td>-->
              <!--<td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <center><button type="button" class="btn btn-sm btn-default"><%= link_to 'Back to Profile', profile_path %></button> </center>

  </div>

<% else %>
<!-- Navbar -->
    <nav class = "navbar navbar-ct-transparent">
      <div class="navbar-header">
        <div class = "container">
          <a>
            <%= link_to image_tag('classify_logo_v4.png', width: '210', height: '60', alt: 'Molecular structure of Buckminsterfullerene'), root_path, title: 'Classify', rel: 'tooltip', relative: true %>
          </a>

          <ul class="nav navbar navbar-right">
            <li class="button"><%= link_to 'Login', new_user_session_path %> </li>
          </ul>
        </div>
      </div>
    </nav>
    <p id="notice"><%= notice %></p>

    <div class="jumbotron">
      <div class="container">
        <h1 id = "shadowed-header">Make high school count.</h1>
        <p id = "shadowed-subhead">Classify enables you to make smarter enrollment decisions.</p>
        <!--<a href="https://github.com/twbs/bootstrap-examples/archive/master.zip" class="btn btn-default btn-lg">Sign Up</a>-->
        <li class="btn btn-default btn-lg"><%= link_to 'Sign Up', new_user_session_path %> </li>

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Rate your courses.</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-danger" href="#" role="button" id="white-text-button">View details &raquo;</a></p>
          <p><button type="button" class="btn btn-sm btn-danger" id="white-text-button">
            <!-- <%= link_to 'View details', new_score_path %></button></a> -->

        </div>
        <div class="col-md-4">
          <h2>Check your school.</h2>
          <p>How does your high school rank among others in your area? Classify uses course scores created by students like you to assess how students feel about their schools. </p>
          <p><a class="btn btn-warning" href="#" role="button" id="white-text-button">View rankings &raquo;</a></p>
          <p><button type="button" class="btn btn-sm btn-warning" id="white-text-button">
            <!-- <%= link_to 'View rankings', new_score_path %></button></a> -->

       </div>
        <div class="col-md-4">
          <h2>Join our team.</h2>
          <p>Are you passionate about your school? Do you want to help your peers get the most out of their high schoole experiences? Consider joining our team as a Classify ambassador. Help us make our vision of world domination come to life. </p>
          <p><a class="btn btn-primary" href="#" role="button" id="white-text-button">Learn more &raquo;</a></p>
          <p><button type="button" class="btn btn-sm btn-primary" id="white-text-button">Learn more</button></a>

        </div>

<% end %>
