<!-- Navbar -->
<nav class = "navbar navbar-ct-transparent">
  <div class="navbar-header">
    <a>
      <%= link_to image_tag('classify_logo_v4.png', width: '210', height: '60', alt: 'Molecular structure of Buckminsterfullerene'), root_path, title: 'Buckminsterfullerene', rel: 'tooltip', relative: true %>
    </a>
  </div>

  <ul class="nav navbar navbar-right">
    <li class="button"><%= link_to 'Login', new_user_session_path %> </li>
  </ul>
</nav>

<!-- Followed this tutorial: http://www.octolabs.com/blogs/octoblog/2013/01/17/styling_devise_with_twitter_bootstrap/ -->
<div class="border-form-div">
  <center><h2>Welcome Back</h2></center>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address' %>
    <%= f.password_field :password, :placeholder => 'Password'%>
    <!--<% if devise_mapping.rememberable? -%>
      <label class="checkbox"> <%= f.label :remember_me %></label>
    <% end -%> -->
    <%= f.submit "Login",:class=>'btn btn-primary' %>
  <% end %><br>
  <%= render "devise/shared/links" %>
</div>
