<!-- Navbar -->
<nav class = "navbar navbar-ct-transparent">
  <div class="navbar-header">
    <a>
      <%= link_to image_tag('classify_logo_v4.png', width: '210', height: '60', alt: 'Molecular structure of Buckminsterfullerene'), root_path, title: 'Buckminsterfullerene', rel: 'tooltip', relative: true %>
    </a>
  </div>

  <ul class="nav navbar navbar-right">
    <li class="button"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </li>
  </ul>
</nav>

<div class = "border-form-div">
  <center><h2>Welcome to our Beta Stage</h2></center>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :full_name, :placeholder => 'Full Name' %>
    <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address' %>
    <%= f.password_field :password, :placeholder => 'Password' %>
    <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation' %>
    <%= f.label 'Pick your school: ' %><br>
    <!-- :school_id is foreign key in Users table,
         :School.all specifies what in the School table to include in the dropdown menu
         :id is primary key in the School table
         :name is what attribute of the School table will display in the menu-->
    <%= f.collection_select(:school_id, School.all, :id, :name, { include_blank: '- Select School -' }) %><br><br>
    <%= f.submit "Sign up",:class=>'btn btn-primary' %>
    <!--<div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div> -->
  <% end %><br>
  <%= render "devise/shared/links" %>
</div-->
