<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br>
    <!-- :course_id is foreign key in Scores table,
         :Course.all specifies what in the Course table to include in the dropdown menu
         :id is primary key in the Course table
         :name is what attribute of the Course table will display in the menu-->
    <%= f.collection_select(:course_id, Course.where(school_id: current_user.school_id), :id, :name ,{ include_blank: '- Select Course -' }) %><br>

  </div>
  <div class="field">
    <%= f.label :difficulty_rating %><br>
    <%= f.number_field :difficulty_rating %>
  </div>
  <div class="field">
    <%= f.label :workload_rating %><br>
    <%= f.number_field :workload_rating %>
  </div>
  <div class="field">
    <%= f.label :likeability_rating %><br>
    <%= f.number_field :likeability_rating %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>
