<p id="notice"><%= notice %></p>

<h2>Course Scores</h2>

<div class = "table">
  <table  class = "table table-striped">
    <thead>
      <tr>
        <th>Course</th>
        <th>School</th>
        <th>Difficulty</th>
        <th>Workload</th>
        <th>Likeability</th>
        <th>Comment</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @scores.each do |score| %>
        <tr>
          <td><%= score.course.name %></td>
          <td><%= score.course.school.name %></td>
          <td><%= score.difficulty_rating %></td>
          <td><%= score.workload_rating %></td>
          <td><%= score.likeability_rating %></td>
          <td><%= truncate(score.comment, :length => 30) %></td>
          <td><%= link_to 'Show', score %></td>
          <!--<td><%= link_to 'Edit', edit_score_path(score) %></td>-->
          <!--<td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>


<%= link_to 'New Score', new_score_path %>
