<p id="notice"><%= notice %></p>


<h2>
  Course Scores
  <button type="button" class="btn btn-sm btn-default"><%= link_to 'New Score', new_score_path %></button>
</h2>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Course
    <%= f.select(
      :with_course_id,
      @filterrific.select_options[:with_course_id],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], { include_blank: '- Any -'}) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%#=render_filterrific_spinner %>
<% end %>

<div id="filterrific_results">
  <%= render(
    partial: 'scores/list',
    locals: { scores: @scores }
  ) %>
</div>


<br>

<%= link_to 'New Score', new_score_path %>
