<p id="notice"><%= notice %></p>

<center>
  <h1> <i><%= @score.course.name %></i> at <i><%= link_to  @score.course.school.name, @score.course.school %></i></h1>
</center>

<p>
<h3>  <strong>Difficulty rating:</strong>
  <%= @score.difficulty_rating %>
</h3>
</p>

<p>
  <h3> <strong>Workload rating:</strong>
    <%= @score.workload_rating %>
  </h3>
</p>

<p>
  <h3>
  <strong>Likeability rating:</strong>
  <%= @score.likeability_rating %>
</h3>
</p>

<p>
  <h3>
  <strong>Comment:</strong>
  <%= @score.comment %>
</h3>
</p>
<br>

<center> <h4> <%= link_to "Check out this course's other ratings!", @score.course %>

</h4>
<center>
<button type="button" class="btn btn-sm btn-default"><%= link_to 'Edit', edit_score_path(@score)  %></button>
<button type="button" class="btn btn-sm btn-default"><%= link_to 'Back', :back %></button>
</center>
