<!DOCTYPE html>
<html>
<head>
  <title>Classify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <!-- Navbar -->
  <nav class = "navbar navbar-ct-transparent">
    <div class = "container">

        <!-- Prelude logo -->
        <div class="navbar-header">
          <a>
            <!--<h2><%= link_to 'Classify', root_path %></h2>
            -->
            <%= link_to image_tag('classify_logo_v3.png', width: '210', height: '60', alt: 'Molecular structure of Buckminsterfullerene'), root_path, title: 'Buckminsterfullerene', rel: 'tooltip', relative: true %>
          </a>
        </div>

          <!--Collect the nav links, forms, and other content for toggling -->
     <!--<div class="collapse navbar-collapse" id="navigation-example-2">
       <ul class="nav navbar-nav navbar-right">
           <li>
             <a href = "<%= scores_path %>" class="btn btn-danger btn-simple">Scores</a>
           </li>
           <li>
             <a href = "<%= courses_path %>" class="btn btn-danger btn-simple">Courses</a>
           </li>
           <li>
           <li>
             <a href = "<%= schools_path %>" class="btn btn-danger btn-simple">Schools</a>
           </li>

           <% if user_signed_in? %>
             <li>
               <a href="<%= destroy_user_session_path %>" target="_blank" class="btn btn-danger btn-fill">Logout</a>
             </li>
           <% else %>
             <li>
               <a href="<%= new_user_session_path %>" target="_blank" class="btn btn-danger btn-fill">Login</a>
             </li>

           <% end %>
         </ul>
       </div><!-- /.navbar-collapse -->


        <% if current_user %>
        <ul class="nav navbar navbar-right">
          <li class="button"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </li>
        </ul>
               <ul class="nav navbar navbar-right">
          <li class="button"><%= link_to 'Schools', schools_path %></li>
        </ul>
        <ul class="nav navbar navbar-right">
          <li class="button"><%= link_to 'Courses', courses_path %></li>
        </ul>
        <ul class="nav navbar navbar-right">
          <li class="button"><%= link_to 'Scores', root_path %> </li>
        </ul>
      <% else %>
        <ul class="nav navbar navbar-right">
          <li class="button"><%= link_to 'Login', new_user_session_path %> </li>
        </ul>
        <% end %>



    </div>
  </nav>




  <div class = "container">
    <%= yield %>

  </div>



</body>
</html>
