<!DOCTYPE html>
<html>
<head>
  <title>Classify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body id="bootstrap-overrides">
  <% if user_signed_in?%>
    <!-- Navbar -->
    <nav class = "navbar navbar-ct-transparent">
      <div class="navbar-header">
        <a>
          <%= link_to image_tag('classify_logo_v4.png', width: '210', height: '60', alt: 'Molecular structure of Buckminsterfullerene'), root_path, title: 'Buckminsterfullerene', rel: 'tooltip', relative: true %>
        </a>
      </div>
      <ul class="nav navbar navbar-right">
        <li class="button"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </li>
      </ul>
      <ul class="nav navbar navbar-right">
        <li class="button"><%= link_to 'Profile', profile_path %> </li>
      </ul>
    </nav>

    <%= yield %>

  <% else %>

    <%= yield %>

  <% end %>

</body>
</html>
